<footer>
	<section>
		<ul>
			<li>
				<a href="">Guia de Carreira</a>
			</li>
			<li>
				<a href="">Ver Empregos</a>
			</li>
			<li>
				<a href="">Salários</a>
			</li>
			<li>
				<a href="">Eventos</a>
			</li>
			<li>
				<a href="">Sobre o Ventura HR</a>
			</li>
			<li>
				<a href="">Central de Ajuda</a>
			</li>
		</ul>
	</section>
	<section>
		<ul>
			<li>
				<a href="">
					© 2020 Ventura HR
				</a>
			</li>
			<li>
				<a href="">
					Central de privacidade
				</a>
			</li>
			<li>
				<a href="">
					Cookies
				</a>
			</li>
			<li>
				<a href="">
					Privacidade
				</a>
			</li>
			<li>
				<a href="">
					Termos
				</a>
			</li>
		</ul>
	</section>
</footer>

<!-- <footer>
		<div>
			<section>
				<h2>Menu</h2>
				<ul>
					<li><a href="#">Vagas</a></li>
					<li><a href="#">Cadastre-se</a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</section>
			<section>
				<h2>Institucional</h2>
				<ul>
					<li><a href="#">Quem somos</a></li>
					<li><a href="#">Assessoria de imprensa</a></li>
				</ul>
			</section>
			<section>
				<h2>Redes sociais</h2>
				<ul class="social">
					<li>
						<a href="http://www.facebook.com" target="blank" title="Facebook">
							<i class="fa fa-facebook-official" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="http://www.instagram.com" target="blank" title="Instagram">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="http://www.google.com" target="blank" title="Google +">
							<i class="fa fa-google-plus-square" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="http://www.twitter.com" target="blank" title="Twitter">
							<i class="fa fa-twitter-square" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</section>
			<section>
				<h2>Formas de pagamento</h2>
				<ul class="credit-card">
					<li value="cirrus"></li>
					<li value="electron"></li>
					<li value="mastercard"></li>
					<li value="maestro"></li>
				</ul>
			</section>
			<section>
				<p>venturahr.com Ltda / CNPJ: 00.860.640/0001-71 Endereço: Rua da Quitanda, 86 - 9º andar - Centro - RJ - 20091-005</p>
				<p> <a href="#">Atendimento ao cliente</a> © 2019 - Copyright Ingresso.com - todos os direitos reservados</p>
			</section>
		</div>
	</footer> -->