<ion-content [fullscreen]="true">
  <div class="logo">
	<img class="logo-ventura" src="../../assets/images/ventura-logotipo.svg" alt="">
  </div>

  <div id="container">
	  <label for="email">E-mail</label>
	  <ion-input type="text" name="email" [(ngModel)]="usuario.Email"></ion-input>
	  <label for="senha">Senha</label>
	  <ion-input type="password" name="senha" [(ngModel)]="usuario.Senha"></ion-input>
	  <ion-button expand="full" (click)="login()">Entrar</ion-button>
	  <p *ngIf="erroMessageFlag" class="login-fail">Usuário ou senha incorretos</p>
	  
	  <div class="cadastro">
		  <p>Novo no VenturaHR? Crie uma conta</p>
	  </div>
  </div>
</ion-content>
