p
{
	margin: 10px;
}

article.vaga
{
	margin: 10px 0;
}

ion-input
{
	border-radius: 5px;
	padding: 0 10px !important;
	border: 1px solid rgba(0,0,0,.2);
}

ion-button
{
	margin: 20px 0;
}

div.search-area
{
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.container
{
	width: 80%;
	margin: 20px auto;
}

.container label,
.container input
{
	display: block;
}

.container label
{
	font-weight: bold;
	margin: 20px 0 10px;
}

p.titulo
{
	font-weight: bold;
	font-size: 1.2rem;
}

p.remuneracao
{
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
	width: fit-content;
	background: rgba(0,0,0,.1);
}