p
{
	margin: 10px 0 0;
}

h2
{
	margin-bottom: 20px;
}

div.main
{
	margin: 20px;
}

ion-button
{
	margin: 10px;
}

ion-select
{
	width: 100%;
}

.strong
{
	font-weight: bold;
}

div.nivel-conhecimento
{
	display: flex;
	align-items: center;
}

div.item-criterio
{
	border-bottom: 1px solid rgba(0,0,0,.2);
}

div.item-criterio:last-of-type
{
	border-bottom: none;
}

div.success
{
	top: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
	position: absolute;
    background: rgba(0, 0 , 0, .5);
}

div.success p
{
    width: 15rem;
    padding: 10px;
    font-weight: bold;
	background: #fff;
    position: absolute;
    text-align: center;
    border-radius: 6px;
    top: calc(50% - 26px);
    left: calc(50% - 7.5rem);
}

.errorMessage
{
	font-size: 1rem;
	color: #eb445a;
	font-weight: bold;
	text-align: center;
}