<ion-content>
	<div class="main">
		<h2>Selecione o nível de conhecimento dos critérios</h2>
		<div class="item-criterio" *ngFor="let criterio of criterios">
			<p class="strong">{{criterio.nome}}</p>
			<p>{{criterio.descricao}}</p>
			<div class="nivel-conhecimento">
				<ion-label>Conhecimento</ion-label>
				<ion-select placeholder="Selecione o nível" [(ngModel)]="criterio.pmd">
					<ion-select-option value="1">Nenhum</ion-select-option>
					<ion-select-option value="2">Pouco</ion-select-option>
					<ion-select-option value="3">Médio</ion-select-option>
					<ion-select-option value="4">Bom</ion-select-option>
					<ion-select-option value="5">Avançado</ion-select-option>
				</ion-select>
			</div>
		</div>
		<ion-button expand="full" (click)="enviarCandidatura()">Enviar candidatura</ion-button>
		<ion-button expand="full" color="medium" (click)="dismiss()">Cancelar</ion-button>
	</div>
</ion-content>